.ThumbnailTopRated figure {
  // width: 470px;
  // height: 230px;
}

.ThumbnailTopRated .figure-img {
    width: 470px;
    height: 230px;
  // max-width: 470px;
  // height: auto;
    object-fit: cover;
    object-position: top;

}

.ThumbnailTopRated {
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ThumbnailTopRated::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .ThumbnailTopRated {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .figure-description {
    text-shadow: 1px 1px 2px black;
  }