@import "../../App.scss";

.ThumbnailSearch figure {
    position: relative;
    max-width: 280px;
    // max-width: 226px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.ThumbnailSearch .figure-img {
    width: 280px;
    // width: 174px;
    // object-fit: scale-down;
}

figcaption.figure-caption h3 {
    @include heading-xs;

    color: $white !important;
}

.figure-description {
    @include body-s;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.75);
}

