@import "../../App.scss";

.Thumbnail figure {
    position: relative;
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Thumbnail .figure-img {
    width: 100%;
    height: 174px;
    object-position: center;
    object-fit: cover;
}

figcaption.figure-caption h3 {
    @include heading-xs;
    color: $white !important;
}

.figure-description {
    @include body-s;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.75);
}