@import "../../App.scss";

.Aside {
  background-color: $semi-dark-blue;
  border-radius: 20px;

  ul {
    list-style-type: none;

    li {
      a {
        img {

          &:hover,
          &:active {
            filter: brightness(0) invert(1);
          }
        }

        // Style for the active link
        &.active-link img {
          filter: brightness(0) invert(1); // Example: Apply the same hover effect
          border-bottom: 2px solid $white; // Example: Add a border to the active link
        }
      }
    }
  }

  .avatar-img {
    width: 40px;
    border: 1px solid $white;
  }
}