@import "../../App.scss";

.input-group-text,
.form-control {
    background-color: $dark-blue;
    border: 0;
    caret-color: $red; 

}


input::placeholder {
    @include heading-m;
    color: rgba(255, 255, 255, 0.5) !important;
}

.form-control:focus {
    @include heading-m;
    background-color: $dark-blue;
    box-shadow: none;
    border: none;

    color: $white;
}